
<div>
<mat-form-field  style="margin-bottom: 30px; margin-top: 50px;">
    
    <mat-label>search by keyword</mat-label>
    <input matInput [formControl]="inputControl">
</mat-form-field>

</div>

<mat-grid-list cols="3" gutterSize="50">
  <mat-grid-tile *ngFor="let item of filtering">
      <mat-card>
          <mat-card-header>
              <mat-card-title >{{item.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <div class="image-container">
                  <img mat-card-image [src]="item.thumbnail" alt="thumbnail">
              </div>
              <div class="price-and-mat-icon-container">
                  <div class="price-container">{{item.price}}$</div>
              </div>
          </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
